<header>
	<h1>Eat-Da-Burger!</h1>
</header>

<div class="burger">
	<div id="newBurger">
		<form class="create-form">
			<input id="burger" type="text" name="burger_name" placeholder="Add Burger">
			<button id="submit-btn" type="submit">Submit</button>
		</form>
	</div>

	<section id="burger-container">
		<div id="burgers">
			<h2>Add Burger</h2>
			{{#each burgers}}
				{{#unless devoured}}
				  <div class="burger">
				    <form class="devour-form" method="POST">
				  		<button class="eat-btn" data-id="{{id}}">Eat!</button>
				    </form>
						{{burger_name}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Devoured</h2>
			{{#each burgers}}
				{{#if devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>